.cell{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    cursor: pointer;
    font-size: 50px;

}
#gameContainer{
    font-family: "PermanentMarker",cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 225px;
    margin: auto;

  
}